{% extends 'ProyectoCursosApp/base.html'%}
{%load static%}


{% block tituloPagina %}
Cursos - Cursos & Eventos 4ALL
{%endblock%}

{% block tituloHeader %}
Los Curss
{% endblock %}

{% block tituloEpigrafe %}
Lo mejores Cursos
{% endblock %}

{% block contenidoPagina%}
        <!-- Section-->
        <section class="bg-ligth py-5">
            Los Cursos son:
            <ul class="list-group">
                {%for curso in cursos%}
                    <li>{{curso.nombre_curso}}[{{curso.comision_curso}}]</li>
                {%endfor%}    
            </ul>
        </section>
{%endblock%}