{% extends 'ProyectoCursosApp/base.html'%}
{%load static%}


{% block tituloPagina %}
Eventos - Cursos & Eventos 4ALL
{%endblock%}

{% block tituloHeader %}
Los Eventos
{% endblock %}

{% block tituloEpigrafe %}
Lo mejores Eventos
{% endblock %} 

{% block contenidoPagina%}
    <!-- Section-->
    <section class="bg-ligth py-5">
        Los Eventos son:
        <ul class="list-group">
            {%for evento in eventos%}
                <li>{{evento.nombre_evento}}[{{evento.lugar_evento}}]</li>
            {%endfor%}    
        </ul>
    </section>
{%endblock%}