{% extends 'ProyectoCursosApp/base.html'%}
{%load static%}


{% block tituloPagina %}
Eventos - Cursos & Eventos 4ALL
{%endblock%}

{% block tituloHeader %}
Los Eventos
{% endblock %}

{% block tituloEpigrafe %}
Lo mejores Eventos
{% endblock %} 

{% block contenidoPagina%}
    <!-- Section-->
    <section class="py-5">
        {%for evento in eventos%}
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{evento.nombre_evento}}</h4>
                                <!-- Product image-->
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                <p class="card-text">{{evento.descripcion_evento}}</p>
                                <p class="card-text">{{evento.incio_evento}}</p>
                                <p class="card-text">{{evento.lugar_evento}}</p>
                                <a href="#" class="btn btn-primary">Asistir</a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        {%endfor%}
    </section> 
    
{%endblock%}